/* AniOrbit CSS */

html, body {
    height: 100%;
    width: 100%;
}

#universe {
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -0-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}