/* AniOrbit CSS */

html, body {
    height: 100%;
    width: 100%;
}

#universe {
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -o-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}

#stars {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    /* ../images/stars.png" had a relative path, possible of multiple folders having png image */
    background: url("../images/stars.png");
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    /* trick to put sun in the center of the page */
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    background: orange;
    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
}

#earthOrbit {
    border: solid 1px red;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 4;
    /* height should be 700px */
    height: 600px;
    width: 600px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%
    border-radius: 100%;
}

#earth {
    position: absolute;
    top: 50%;
    left: 0;
    
    margin-top: -40px;
    
}

#moonOrbit {
    border: solid 1px red;
    
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: -20px;
    margin-top: -60px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}