/* AniOrbit CSS */

/* STAR PULSE ANIMATION */
@-webkit-keyframes starPulse {
    from {opacity: 1; }
    to  {opacity: 0.2; }   
}

@-moz-keyframes starPulse {
    from {opacity: 1; }
    to  {opacity: 0.2; }   
}

@-o-keyframes starPulse {
    from {opacity: 1; }
    to  {opacity: 0.2; }   
}

@keyframes starPulse {
    from {opacity: 1; }
    to  {opacity: 0.2; }
}

/* SOLAR FLARE ANIMATION */
@-webkit-keyframes sunFlare {
    from {
        -webkit-box-shadow: 0 0 50px #f5c91a;
        -moz-box-shadow: 0 0 50px #f5c91a;
        box-shadow: 0 0 50px #f5c91a;
    }
    
    to {
        -webkit-box-shadow: 0 0 100px #f5c91a;
        -moz-box-shadow: 0 0 100px #f5c91a;
        box-shadow: 0 0 100px #f5c91a;
    }
}

@-moz-keyframes sunFlare {
    from {
        -webkit-box-shadow: 0 0 50px #f5c91a;
        -moz-box-shadow: 0 0 50px #f5c91a;
        box-shadow: 0 0 50px #f5c91a;
    }
    
    to {
        -webkit-box-shadow: 0 0 120px #f5c91a;
        -moz-box-shadow: 0 0 120px #f5c91a;
        box-shadow: 0 0 120px #f5c91a;
    }
}

@-o-keyframes sunFlare {
    from {
        -webkit-box-shadow: 0 0 50px #f5c91a;
        -moz-box-shadow: 0 0 50px #f5c91a;
        box-shadow: 0 0 50px #f5c91a;
    }
    
    to {
        -webkit-box-shadow: 0 0 120px #f5c91a;
        -moz-box-shadow: 0 0 120px #f5c91a;
        box-shadow: 0 0 120px #f5c91a;
    }
}

@keyframes sunFlare {
    from {
        -webkit-box-shadow: 0 0 50px #f5c91a;
        -moz-box-shadow: 0 0 50px #f5c91a;
        box-shadow: 0 0 50px #f5c91a;
    }
    
    to {
        -webkit-box-shadow: 0 0 120px #f5c91a;
        -moz-box-shadow: 0 0 120px #f5c91a;
        box-shadow: 0 0 120px #f5c91a;
    }
}

/* ORBIT ANIMATION */
@-webkit-keyframes orbit {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}

@-moz-keyframes orbit {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}

@-o-keyframes orbit {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}

@keyframes orbit {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}


html, body {
    height: 100%;
    width: 100%;
}

#universe {
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -o-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}

#stars {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    /* ../images/stars.png" had a relative path, possible of multiple folders having png image */
    background: url("../images/stars.png");
    
    /* animation name, duration, how long, alternating motion */
    -webkit-animation: starPulse 4s infinite alternate;
    -moz-animation: starPulse 4s infinite alternate;
    -o-animation: starPulse 4s infinite alternate;
    animation: starPulse 4s infinite alternate;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    /* trick to put sun in the center of the page */
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    background: orange;
    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
    
    -webkit-animation: sunFlare 3s infinite alternate;
    -moz-animation: sunFlare 3s infinite alternate;
    -o-animation: sunFlare 3s infinite alternate;
    animation: sunFlare 3s infinite alternate;
}

#earthOrbit { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 4;
    height: 600px;
    width: 600px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%
    border-radius: 100%;
    
    -webkit-animation: orbit 40s linear infinite;
    -moz-animation: orbit 40s linear infinite;
    -o-animation: orbit 40s linear infinite;
    animation: orbit 40s linear infinite;
}

#earth {
    position: absolute;
    top: 50%;
    left: 0;
    
    margin-top: -40px;
    /* Earth rotation animation */
    -webkit-animation: orbit 7s linear infinite;
    -moz-animation: orbit 7s linear infinite;
    -o-animation: orbit 7s linear infinite;
    animation: orbit 7s linear infinite;
    
}

#moonOrbit {
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: -20px;
    margin-top: -60px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    -webkit-animation: orbit 10s linear infinite reverse;
    -moz-animation: orbit 10s linear infinite reverse;
    -o-animation: orbit 10s linear infinite reverse;
    animation: orbit 10s linear infinite reverse;
}

#moon {
    height: 20px;
    width: 20px;
    background: gray;
    background: -webkit-radial-gradient(#ddd, #888);
    background: -moz-radial-gradient(#ddd, #888);
    background: radial-gradient(#ddd, #888);
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}